<div class="wrapper">

    <!-- Preloader -->
    <div class="preloader flex-column justify-content-center align-items-center">
        <img class="animation__shake" src="assets/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
    </div>

    <!-- Navbar -->
    <app-top></app-top>

    <!-- Main Sidebar Container -->
    <app-nav></app-nav>

    <!-- Content Wrapper. Contains page content -->
    <app-content></app-content>
    <!-- /.content-wrapper -->

    <app-footer></app-footer>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->